<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Happy News Recover Password</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="singleCard">
			<form class="card login"  th:method="POST" th:action="@{/auth/recover-password}" th:object="${happyUser}">
				 <h1>Recover PASSWORD</h1>
				 <div class="input">
					 <p>Email:</p>
					 <input type="email" name="email" id="email">
					 <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="email"> Email error </div>
				 </div>
				 <div class="input">
					 <p>Pet Name:</p>
					 <input type="password" name="petName">
					 <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> PetName error </div>
				 </div>
				 <div class="input">
					 <p>New Password:</p>
					 <input type="password" name="newPassword" id="password">
				 </div>
				 <div class="input">
					 <p>Confirm new password:</p>
					 <input type="password" name="passwordConfirmation" id="confirm_password">
					 <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error </div>
				 </div>
				 <div class="center">
				 	<input class="button" type="submit" value="Change password">
				 </div>
				 <div class="register">
				 	<a th:href="@{/auth/login}">Login</a>
				 </div>
			</form>
			
		</div>
	</body>
	<script>
	var password = document.getElementById("password")
	  , confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
	    confirm_password.setCustomValidity("Passwords Don't Match");
	  } else {
	    confirm_password.setCustomValidity('');
	  }
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
	</script>
</html>