
@charset "ISO-8859-1";




.flex{
	display: flex;
    justify-content: space-between;
     width: 500px;
     margin-right:auto;
     margin-left: auto;
	
}


.button {
  background-color: #41d7dd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #eac700;
  color: white;
  cursor: pointer;
}

.button2 {
  background-color: #eac700;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

.button2:hover {
  background-color: #41d7dd;
  color: white;
  cursor: pointer;
}


input[type="submit"] {
    background-color: #41d7dd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
}


body {
  font-family: 'Lato', sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}
a {
	text-decoration: underline;
	text-decoration-color: #808080;
	/* text-decoration-style: solid;  */
	color: BLACK;
}

a:hover {
	
  color: #41d7dd;
  text-decoration: none;
  cursor: pointer;
}
.no-deco{
	text-decoration: none;
}

h1 {
	text-align: center;
}

.colo{
	color: #808080;
	
}
.enter2{
	text-align: center;

}
.center {
	display: flex;
	justify-content: center
}

.center2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.in-center {
	text-align: center;
}

#col1, #col2, #col3  {
    /* border:solid black 2px; */
    margin:20px;
    text-align: center;
    padding: 20px;
    /* box-shadow: 4px 3px 8px 1px #969696; */
    transform: scale(1);
 	transition: transform 0.2s ease-out;
    
    }
    
/*     #col1:active, #col2:active, #col3:active {
    transform: scale(1.2);
    } */
    .center {
	display: flex;
	justify-content: center;
	align-items: center;
}


.search-input {
  
  min-width: 400px;
  height: 23px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #41d7dd;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
}
.italic{
	font-style: italic;
	font-weight: 400;
}

    
.products1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.max{
	max-width: 200px;
}


    .articles-view {
     display: flex;
    flex-wrap: wrap;
    width: 80%;
    
  }

  .article {
    width: 33.33%;
    padding: 20px;
    text-align: center;
    
  }

  .img-article {
    width: 200px;
    height: autopx;
    margin: 20px auto;
    display: block;
  }




.navbar {
	height: 25px;

	font-size: 16px;
	font-weight: 600;
	justify-content: space-between;
	background-color: #41d7dd;
	padding: 20px;
	display: flex;
	color: white;
	margin: 0px;
	align-items: center;
	
}


.menu-categories {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	
	justify-content: space-between;
	background-color: #e6e6e6;
	padding: 14px;
	display: flex;
	
	margin-left: auto;
	margin-right: auto;
}


.navbar a {
	text-decoration: none;
	color: white;
	padding-right: 20px;
}	
		
.menu-categories a {
	text-decoration: none;
	color: black;
	padding-right: 20 px;
}


.logo{
	
height: 50px;

}

.sub {
  background-color: rgb(240, 240, 240);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  
}
.big-font-button {
  display: inline-block;
  text-decoration: underline;
  color: #41d7dd;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  font-weight: bold;
}

.big-font-button:hover {
  background-color: #eac700;
  color: #f2f2f2;
  cursor: pointer;
}

footer {
	margin: 0px;
	background-color: #e6e6e6;
	padding: 10px;
	
	bottom: 0;
		
}

.foot-txt{margin: 0px;
	justify-content: space-between;
	padding: 10px;
	display: flex;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
footer a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 400;
}