<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index table</title>
</head>
<body>
<h1>User table</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Role</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.role}"></td>
			</tr>
		</table>
</body>
<form th:action="@{/logout}" th:method="POST"> 
<input type="submit" value="Logout" />
</form>



</html>